*.vscode/settings.json
.env
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.bak
*.swp
.DS_Store
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.egg-info/
dist/
build/
*.egg
*.whl
*.tar.gz
*.zip